target/
*.class
*.war
*.log
.vscode/
.idea/
*.iml
*.DS_Store
error.html
error_apt.html
error_apt_v2.html
fix_appointments.ps1
fix_staff.ps1
test_hello.jsp
staff_debug.jsp
appointments_test.jsp
WEB-INF/lib/
WEB-INF/classes/
